# Byte-compiled / cache
__pycache__/
*.py[cod]
*.ipynb_checkpoints/

# Virtual environment
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Model weights
*.h5
*.pth
*.pkl

# Logs
*.log

# System
.DS_Store
Thumbs.db
